---
layout: default
title: Blog
permalink: /blog/
---

<div class="container">
  <div class="row">

    <div class="col-md-1"></div>

    <div class="col-md-7">
      <!-- Shows all posts; one post for each tag -->
      <h1 class="page-heading">Posts</h1>
      {% for tag in site.tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <div class="post-list-container hidden" id="{{ t }}-container">
          <ul class="post-list">
            {% for post in posts %}
              {% if post.tags contains t %}
              <li>
                <h4>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a> <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                </h4>
              </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div><!-- post-list-container -->
      {% endfor %}
    </div><!-- col-md-7 -->

    <div class="col-md-3">
      <h2 class="categories-heading">Tags</h3>
      {% assign sorted_tags = site.tags | sort %}
      {% for tag in sorted_tags %}
        {% assign t = tag | first %}
        {% assign posts = tag | last %}
        <span class="tag-item-container" id="{{ t }}-item">
          <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a> {% unless forloop.last %}•{% endunless %}
        </span>
      {% endfor %}

      <br>
      <br>
      <a href onclick="filter('all'); return false;">Show All Posts</a>
    </div>


  </div><!-- row -->
  <div class="row v-padding">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </div><!-- col-md-10 -->
  </div><!-- row -->

</div>
