---
layout: default
title: Projects
header: Projects
permalink: /projects/
---

<div class="container">

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <h1 class="page-heading">Projects</h1>
    </div><!-- col-md-10 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 v-padding"><h3>Filter By:</h3></div>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-4"></div>
    <a href=""><div class="col-md-1 col-sm-2 col-xs-4 icon text-center">{% include icon-coding.svg %}<p>All</p></div></a>
    <a href=""><div class="col-md-1 col-sm-2 col-xs-4 icon text-center">{% include icon-bootstrap.svg %}<p>Bootstrap</p></div></a>
    <a href=""><div class="col-md-1 col-sm-2 col-xs-4 icon text-center">{% include icon-javascript.svg %}<p>JavaScript</p></div></a>
    <a href=""><div class="col-md-1 col-sm-2 col-xs-4 icon text-center">{% include icon-rubyonrails.svg %}<p>Ruby on Rails</p></div></a>
    <a href=""><div class="col-md-1 col-sm-2 col-xs-4 icon text-center">{% include icon-python.svg %}<p>Python</p></div></a>
  </div><!-- row -->

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10"><h4>
      <div class="projects-bootstrap v-padding">
        <p>bootstrap link here</p>
        <p>bootstrap link here</p>
      </div>
      <div class="projects-javascript v-padding">
        <p>javascript link here</p>
        <p>javascript link here</p>
      </div>
      <div class="projects-rubyonrails v-padding">
        <p>ruby on rails link here</p>
        <p>ruby on rails link here</p>
      </div>
      <div class="projects-python v-padding">
        <p>None yet!</p>
      </div>
    </h4></div><!-- col-md-10 -->
  </div><!-- row -->

</div>
