.site-footer {
  background-color: #4E5A52;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 12px;
}

.light-text a:link {
  color: #D5E3DA;
}

.white-text a:link {
  color: #FFFFFF;
}

.white-text a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.inverted {
  filter: invert(100%);
}
