<footer class="site-footer white-text">

  <div class="container-fluid">

    <div class="col-md-12 text-center">
          <div class="inverted">
          <!-- include social media links -->
          {% if site.github_username %} {% include icon-github.html username=site.github_username %} {% endif %}
          {% if site.linkedin_username %} {% include icon-linkedin.html username=site.linkedin_username %} {% endif %}
          </div>
         <div><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
      </div>
    </div>

  </div>

</footer>
