<footer class="site-footer white-text">

  <div class="container-fluid">

    <div class="text-center">
          <div class="inverted">
            <!-- include social media links -->
            <span class="icon-padding">
              {% if site.email %} {% include icon-email.html %} {% endif %}
            </span>
            <span class="icon-padding">
              {% if site.github_username %} {% include icon-github.html username=site.github_username %} {% endif %}
            </span>
            <span class="icon-padding">
              {% if site.freecodecamp_username %} {% include icon-freecodecamp.html username=site.freecodecamp_username %} {% endif %}
            </span>
            <span class="icon-padding">
              {% if site.linkedin_username %} {% include icon-linkedin.html username=site.linkedin_username %} {% endif %}
            </span>
          </div>
         <!-- <a href="mailto:{{ site.email }}">{{ site.email }}</a> -->
      </div>
    </div>

  </div>

</footer>
