body {
    padding-bottom: 60px;
}

header {
  display: block;
}

img {
  opacity: .9;
  border: 1px solid #4E5A52;
}

.nav-menu {
  z-index: 100;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background: #4E5A52;
}

.nav-list {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 65px;
  height: 210px;
  width: 200px;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 5px;
}

.hamburger-float {
  position: absolute;
  background-color: #4E5A52;
  top: 0px;
  right: 0px;
}

/* top of the page padding */
.pad-top {
  padding-top: 125px;
}

/* vertical space */
.vspace {
  margin-top: 20px;
}

.site-footer {
  background-color: #4E5A52;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 12px;
}

/* footer light green text */
.light-text a:link {
  color: #D5E3DA;
}

/* force white links */
.white-text a:link {
  color: #FFFFFF;
}

.white-text a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* inverts svg icon colors */
.inverted {
  filter: invert(100%);
}

/* pads svg icons */
.icon-padding {
  margin-left: 1px;
  margin-right: 1px;
}
