body {
    padding-bottom: 60px;
}

img {
  opacity: .9;
  border: 1px solid #4E5A52;
}

ul {
  list-style-type: none;
}

/* top of the page padding */
.pad-top {
  padding-top: 25px;
}

/* vertical space */
.vspace {
  margin-top: 20px;

}

.navigation {
  font-size: 19px;
  text-align: left;
}

/* floats nav menu */
.menu-float {
  float: right;
  top: 0px;
}


.site-footer {
  background-color: #4E5A52;
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 12px;
}

/* footer light green text */
.light-text a:link {
  color: #D5E3DA;
}

/* force white links */
.white-text a:link {
  color: #FFFFFF;
}

.white-text a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/* inverts svg icon colors */
.inverted {
  filter: invert(100%);
}

/* pads svg icons */
.icon-padding {
  margin-left: 1px;
  margin-right: 1px;
}
