body {
    padding-bottom: 60px;
}

header {
  display: block;
}

img {
  opacity: .9;
  border: 1px solid #4E5A52;
}

/* top of the page padding */
.pad-top {
  padding-top: 125px;
}


/*  ------------NAVIGATION MENU---------- */

.nav-menu {
  z-index: 100;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(78, 90, 82, 0.9);
}

.nav-list {
  font-size: 20px;
  text-transform: uppercase;
  padding-top: 65px;
  height: 210px;
  width: 200px;
}

nav ul {
  list-style-type: none;
}

nav li {
  padding: 5px;
}

/* force white links */
li a:link {
  color: rgb(255,255,255);
}

.hamburger-float {
  position: absolute;
  background-color: rgba(78, 90, 82, 0.9);
  top: 0px;
  right: 0px;
}

a:hover {
  text-decoration: none;
  background-color: rgb(161, 137, 132);
  color: rgb(255,255,255);
}


/*  ----------FOOTER---------- */

.site-footer {
  background-color: rgba(78, 90, 82, 0.9);
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

/* inverts svg icon colors */
.inverted {
  filter: invert(100%);
}

/* pads svg icons */
.icon-padding {
  margin-left: 3px;
  margin-right: 3px;
}
