<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

        {% include header.html %}
        <main class="content col-md-12" aria-label="Content">
          <div class="col-md-12">
            {{ content }}
          </div>
        </main>
        {% include footer.html %}

<script>
  var $hamburger = $(".hamburger");
  $hamburger.click(function(e) {
    $hamburger.toggleClass("is-active");

    // $hamburger.click(function(f) {
    //   $hamburger.hide(".navigation");
  });

  $(document).ready($hamburger);
</script>

  </body>

</html>
