<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

        {% include header.html %}
        <main class="content col-md-12" aria-label="Content">
          <div class="col-md-12">
            {{ content }}
          </div>
        </main>
        {% include footer.html %}

<script>
var $hamburger = $(".hamburger");
  $hamburger.on('click', function(e) {
    $hamburger.toggleClass("is-active");
    $('nav').toggle();
  });

$(document).on('click', function(event) {
  if (!$(event.target).closest('.wrapper').length) {
        $hamburger.removeClass("is-active");
        $('nav').hide();
  }
});

</script>

  </body>

</html>
