<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

        {% include header.html %}
        <main class="content col-md-12 page-padding" aria-label="Content">

            {{ content }}

        </main>
        {% include footer.html %}

  <script>

    $('nav').hide();
    $('button').addClass('hamburger-opaque');

    var $hamburger = $('.hamburger');

    $hamburger.on('click', function(e) {
        $hamburger.toggleClass('is-active');
        $('nav').removeClass('hide');
        $('nav').slideToggle(150);
        $('button').toggleClass('hamburger-opaque');
        $('button').toggleClass('hamburger-transparent');
    });

    $(document).on('click', function(event) {
      if (!$(event.target).closest('.nav-menu').length) {
          $hamburger.removeClass('is-active');
          $('nav').slideUp(150);
          $('button').removeClass('hamburger-transparent');
          $('button').addClass('hamburger-opaque');
      }
    });

  </script>

  <script id="dsq-count-scr" src="//jttyeung.disqus.com/count.js" async></script>

  {% include google-analytics.html %}

  </body>

</html>
